<!DOCTYPE html>
<html>
  <head>
    <div th:replace="header"></div>
  </head>
  <body>
    <div class="page home-page">
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">
          <!-- Search Box-->
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control" />
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="index.html" class="navbar-brand">
                  <div class="brand-text brand-big hidden-lg-down"><span>Hooghly </span><strong>CockPIT</strong></div>
                  <div class="brand-text brand-small"><strong>HC</strong></div></a>
                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Search-->
                <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                <!-- Notifications-->
                <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red">12</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item"> 
                        <div class="notification">
                          <div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages </div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> 
                        <div class="notification">
                          <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> 
                        <div class="notification">
                          <div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server Rebooted</div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> 
                        <div class="notification">
                          <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                          <div class="notification-time"><small>10 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
                  </ul>
                </li>
                <!-- Messages                        -->
                <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange">10</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img th:src="@{/webjars/commerce/admin/images/avatar-1.jpg}" alt="..." class="img-fluid rounded-circle" /></div>
                        <div class="msg-body">
                          <h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img th:src="@{/webjars/commerce/admin/images/avatar-2.jpg}" alt="..." class="img-fluid rounded-circle" /></div>
                        <div class="msg-body">
                          <h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img th:src="@{/webjars/commerce/admin/images/avatar-3.jpg}" alt="..." class="img-fluid rounded-circle" /></div>
                        <div class="msg-body">
                          <h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages    </strong></a></li>
                  </ul>
                </li>
                <!-- Logout    -->
                <li class="nav-item"><a href="login.html" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch">
       	<div th:replace="navbar"></div>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Stores</h2>
            </div>
          </header>
         <!-- Breadcrumb-->
          <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Stores</li>
            </div>
          </ul>
          
           <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                         <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-pencil fa-fw"></i>Edit</a>
                         <a href="#myModal" class="dropdown-item add" data-toggle="modal" data-target="#exampleModalCenter"> <i class="fa fa-plus"></i>Add Store</a>
                         
                         </div>
                      </div>
                     
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
 <div class="container d-flex align-items-center">
         <div class="row">
        <div class="col-md-100">
                <div class="row">
                <div class="col-md-30 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-5 my-10">Add New Store</h3>
                        </div>
                        <div class="card-body" th:with="countries=${@countryService.getAll()} , languages=${@languageService.findAll()} " >
                            <form class="form-horizontal" role="form" autocomplete="off" method="post" th:action="@{/admin/store/save.html}">
                            
                            <div class="form-group row">
												<label class="col-sm-3 form-control-label">Code</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="code" required=""/>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Name</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"  name="storename" required="" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 form-control-label">Email</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"  name="storeEmailAddress" required="" />
												</div>
											</div>
											
                               <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Language</label>
                               <div class="col-sm-9">
    							<select class="form-control" name="defaultLanguage" id="defaultLanguage">
    								<option  th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"
    								
    							></option>
    							</select>
								</div>
								</div>
                                      
                                      
                                <div class="form-group row" >
                                <label class="col-sm-3 form-control-label">Country</label>
                               	<div class="col-sm-9">
    							<select class="form-control" name="country" id="country">
    								<option  th:each="country : ${countries}" th:value="${country.id}" th:text="${country.descriptions[0].name}"></option>
    							</select>
								</div>
								</div>
								                      
                               <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             
                                    </div>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div> 
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">All Stores</h3>
                    </div>
                    <div class="card-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Email</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="s, i: ${stores}">
                            <th scope="row" ><a th:href="@{'store/' + ${s.id}}" th:text="${i.count}"></a></th>
                            <td th:text="${s.code}">Mark</td>
                            <td th:text="${s.storename}">Otto</td>
                            <td th:text="${s.storeEmailAddress}">@mdo</td>
                          </tr>
                                                    
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
               
                
                
              </div>
            </div>
          </section>
        
          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Hooghly Commerce &copy; 2017-2019</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
                  
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script th:src="@{/webjars/commerce/admin/js/tether.min.js}"></script>
    <script th:src="@{/webjars/commerce/admin/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/commerce/admin/js/jquery.cookie.js}"> </script>
    <script th:src="@{/webjars/commerce/admin/js/jquery.validate.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script th:src="@{/webjars/commerce/admin/js/charts-home.js}"></script>
    <script th:src="@{/webjars/commerce/admin/js/front.js}"></script>
    
    
  </body>
</html>