<section class="xt-deal-section">
            <div class="container">
                <div class="row section-separator">
                    <div class="xt-each-deal">
                        <div class="col-md-8 col-sm-6">
                            <div class="xt-spring-deal cover-bg white xt-deal" th:style="@{'background-image: url(/cms/images/' + ${MERCHANT_STORE.id} + '/f1.jpg);'}">
                                <div class="xt-overlay"></div>
                                <span>fresh your soul</span>
                                <h2>spring summer <br /> fashion collection</h2>
                                <a href="" class="btn btn-fill">Shop now</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="xt-summer-deal cover-bg white xt-deal" th:style="@{'background-image: url(/cms/images/' + ${MERCHANT_STORE.id} + '/f2.jpg);'}">
                                <div class="xt-overlay"></div>
                                <span>SAVE 35% ON DESIGNER</span>
                                <h2>hot summer collection</h2>
                                <a href="" class="btn btn-fill">Shop now</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="xt-off-deal cover-bg white xt-deal xt-color-bg">
                                <span>summer collection 2017</span>
                                <h2 class="xt-deal-price">66<span>%<br />off</span></h2>
                                <a href="" class="btn btn-border">Shop now</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div class="xt-summer-deal cover-bg white xt-deal" th:style="@{'background-image: url(/cms/images/' + ${MERCHANT_STORE.id} + '/f3.jpg);'}">
                                <div class="xt-overlay"></div>
                                <span>Winter COllection</span>
                                <h2>Winter Autumn <br /> Jacket Collection</h2>
                                <a href="" class="btn btn-fill">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>