<section class="product-category">
	<div class="container">
		<div class="row section-separator">
			<div class="section-title">
				<h2>PRODUCTS by category</h2>
				<span class="xt-title-bg"></span>
			</div>
			<div class="col-xs-12">
				<div class="xt-product-slide">
					<div class="xt-carousel owl-theme">
						<div class="xt-item">
							<i class="fa flaticon-dress-1"></i> <span>Fashion</span>
						</div>
						<div class="xt-item">
							<i class="fa flaticon-jacket-1"></i> <span>Style</span>
						</div>
						<div class="xt-item">
							<i class="fa flaticon-v-neck-shirt"></i> <span>Lipstick</span>
						</div>
						<div class="xt-item">
							<i class="fa flaticon-high-heel"></i> <span>Blezzar</span>
						</div>
						<div class="xt-item">
							<i class="fa flaticon-dress"></i> <span>Jacket</span>
						</div>
					</div>
				</div>
			</div>
			<div class="xt-category-feature col-xs-12">
				<div class="col-md-4 col-sm-4">
					<div class="xt-feature">
						<div class="product-img">
							<img
								th:src="@{'/cms/images/' + ${MERCHANT_STORE.id} +'/model-one-660-640.jpg'}"
								alt="" class="img-responsive" /> <span
								class="product-tag xt-uppercase">sale!</span>
						</div>
						<div class="product-info">
							<div class="product-title">
								<span class="category xt-uppercase">Winter COllection</span> <span
									class="name xt-semibold">Black Color</span>
							</div>
							<div class="price-tag pull-right">
								<span class="old-price"><del>$280</del></span> <span
									class="new-price xt-semibold">$260</span>
							</div>
							<div class="xt-featured-caption">
								<div class="product-title">
									<span class="category xt-uppercase">Winter COllection</span> <span
										class="name xt-semibold">Black Color</span>
								</div>
								<div class="price-tag pull-right">
									<span class="old-price"><del>$280</del></span> <span
										class="new-price xt-semibold">$260</span>
								</div>
								<div class="add-cart">
									<a href="" class="btn btn-fill">Add to cart</a>
									<ul class="reaction">
										<li><a href=""><i class="fa fa-search"></i></a></li>
										<li><a href=""><i class="fa fa-heart-o"></i></a></li>
										<li><a href=""><i class="fa fa-bar-chart-o"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="xt-feature">
						<div class="product-img">
							<img
								th:src="@{'/cms/images/' + ${MERCHANT_STORE.id} +'/model-two-660-640.jpg'}"
								alt="" class="img-responsive" /> <span
								class="product-tag xt-uppercase">sale!</span>
						</div>
						<div class="product-info">
							<div class="product-title">
								<span class="category xt-uppercase">Autumn Collection</span> <span
									class="name xt-semibold">Imported From U.A.E.</span>
							</div>
							<div class="price-tag pull-right">
								<span class="old-price"><del>$280</del></span> <span
									class="new-price xt-semibold">$260</span>
							</div>
							<div class="xt-featured-caption">
								<div class="product-title">
									<span class="category xt-uppercase">Autumn Collection</span> <span
										class="name xt-semibold">Imported From U.A.E.</span>
								</div>
								<div class="price-tag pull-right">
									<span class="old-price"><del>$280</del></span> <span
										class="new-price xt-semibold">$260</span>
								</div>
								<div class="add-cart">
									<a href="" class="btn btn-fill">Add to cart</a>
									<ul class="reaction">
										<li><a href=""><i class="fa fa-search"></i></a></li>
										<li><a href=""><i class="fa fa-heart-o"></i></a></li>
										<li><a href=""><i class="fa fa-bar-chart-o"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="xt-feature">
						<div class="product-img">
							<img
								th:src="@{'/cms/images/' + ${MERCHANT_STORE.id} +'/model-five-660-640.jpg'}"
								alt="" class="img-responsive" /> <span
								class="product-tag xt-uppercase">sale!</span>
						</div>
						<div class="product-info">
							<div class="product-title">
								<span class="category xt-uppercase">Spring Collection</span> <span
									class="name xt-semibold">2017 New Model</span>
							</div>
							<div class="price-tag pull-right">
								<span class="old-price"><del>$280</del></span> <span
									class="new-price xt-semibold">$260</span>
							</div>
							<div class="xt-featured-caption">
								<div class="product-title">
									<span class="category xt-uppercase">Spring Collection</span> <span
										class="name xt-semibold">2017 New Model</span>
								</div>
								<div class="price-tag pull-right">
									<span class="old-price"><del>$280</del></span> <span
										class="new-price xt-semibold">$260</span>
								</div>
								<div class="add-cart">
									<a href="" class="btn btn-fill">Add to cart</a>
									<ul class="reaction">
										<li><a href=""><i class="fa fa-search"></i></a></li>
										<li><a href=""><i class="fa fa-heart-o"></i></a></li>
										<li><a href=""><i class="fa fa-bar-chart-o"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>