<!DOCTYPE html>
<html>
  <head>
    <div th:replace="admin/header"></div>
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>CockPIT</h1>
                  </div>
                  <p>Hooghly Commerce Admin Portal</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form id="login-form" method="post" th:action="@{/admin/secure/authenticate}">
                    <div class="form-group">
                      <input id="login-username" type="text" name="username" required="required" class="input-material" />
                      <label for="login-username" class="label-material">User Name</label>
                    </div>
                    <div class="form-group">
                      <input id="login-password" type="password" name="password" required="required" class="input-material" />
                      <label for="login-password" class="label-material">Password</label>
                    </div><button id="login" type="submit" class="btn btn-primary">Login</button>
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  </form>
                  <!-- 
                  <a href="#" class="forgot-pass">Forgot Password?</a>
                  <br /><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
                   -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
        
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script th:src="@{/webjars/commerce/admin/js/tether.min.js}"></script>
    <script th:src="@{/webjars/commerce/admin/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/commerce/admin/js/jquery.cookie.js}"> </script>
    <script th:src="@{/webjars/commerce/admin/js/jquery.validate.min.js}"></script>
    <script th:src="@{/webjars/commerce/admin/js/front.js}"></script>
    
  </body>
</html>