
<!-- Side Navbar -->
<nav class="side-navbar">
	<!-- Sidebar Header-->
	<div class="sidebar-header d-flex align-items-center">
		<div class="avatar">
			<img th:src="@{/webjars/commerce/admin/images/avatar-1.jpg}"
				alt="..." class="img-fluid rounded-circle" />
		</div>
		<div class="title">
			<h1 class="h4">Mark Stephen</h1>
			<p>Web Designer</p>
		</div>
	</div>
	<!-- Sidebar Navidation Menus-->
	<span class="heading">Main</span>
	<ul class="list-unstyled">
		<li class="active"><a href="./"><i class="icon-home"></i>Home</a></li>
		<li><a href="./"><i class="icon-home"></i>Websites</a></li>
		<li><a href="store"><i class="icon-home"></i>Stores</a></li>
		<li><a href="#dashvariants" aria-expanded="false"
			data-toggle="collapse"> <i class="icon-interface-windows"></i>Catalog
		</a>
			<ul id="dashvariants" class="collapse list-unstyled">
				<li><a href="category">Categories</a></li>
				<li><a href="#">Products</a></li>

			</ul></li>
		
		<li><a href="#content" aria-expanded="false"
			data-toggle="collapse"> <i class="icon-interface-windows"></i>Content
		</a>
			<ul id="content" class="collapse list-unstyled">
				<li><a href="cms/page/layout">Layouts</a></li>
				<li><a href="#">Fragments</a></li>
				<li><a href="#">Images</a></li>
				<li><a href="#">Styles</a></li>
				<li><a href="#">Javascript</a></li>
				<li><a href="#">Mapping</a></li>
			</ul></li>
		<li><a href="tables.html"> <i class="icon-grid"></i>Manage
				Content
		</a></li>
		
		
		
		<li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Shipping
		</a></li>
		<li><a href="forms.html"> <i class="icon-padnote"></i>Payment
		</a></li>
		<li><a href="login.html"> <i class="icon-interface-windows"></i>Customers
		</a></li>
		<li><a href="login.html"> <i class="icon-interface-windows"></i>Orders
		</a></li>
		<li><a href="login.html"> <i class="icon-interface-windows"></i>Manage
				Taxes
		</a></li>
		<li><a href="login.html"> <i class="icon-interface-windows"></i>Cache
				Management
		</a></li>
		<li><a href="login.html"> <i class="icon-interface-windows"></i>Configurations
		</a></li>
	</ul>

</nav>