

<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="xt-language col-md-6 col-sm-6 col-xs-12">
				<div class="each-nav">
					<ul>
						
						<li class="dropdown">
							<a href="" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false"> 
								<span th:text="${MERCHANT_STORE.defaultLanguage.name}"></span>
								<span class="fa fa-angle-down"></span>
							</a>
							<ul class="dropdown-menu xt-lang-dropdown" >
								<li th:each="l : ${MERCHANT_STORE.languages}">
								<a th:href="@{/shop(store=${MERCHANT_STORE.id},lang=${l.id})}" th:text="${l.name}" >USD</a>
								</li>
								
								
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="user-nav pull-right col-md-6 col-sm-6 col-xs-12">
				<ul>
					<li><a href="#" th:text="#{msg.general.mywishlist}">My wishlist</a></li>
					<li><a href="#" th:text="#{msg.general.checkout}">Checkout</a></li>
					<li><a href="#" th:text="#{msg.general.login}">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>