

<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="xt-language col-md-6 col-sm-6 col-xs-12">
				<div class="each-nav">
					<ul>
						
						<li class="dropdown">
							<a href="" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">USD 
								
								<span class="fa fa-angle-down"></span>
							</a>
							<ul class="dropdown-menu xt-lang-dropdown" th:each="sv : ${MERCHANT_STORE.storeViews}">
								<li><a href="" th:text="${sv.id}">USD</a></li>
								
								
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="user-nav pull-right col-md-6 col-sm-6 col-xs-12">
				<ul>
					<li><a href="">My wishlist</a></li>
					<li><a href="">Checkout</a></li>
					<li><a href="">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>